<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.7.8.1" targetFramework="net461" />
  <package id="GemBox.Document" version="31.0.1175" targetFramework="net461" />
  <package id="Iron.Assets.Rendering.Windows" version="18.0.1" targetFramework="net461" />
  <package id="IronPdf" version="2020.3.2" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net461" />
  <package id="itextsharp.xmlworker" version="5.5.13.1" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package id="MySql.Data" version="6.10.9" targetFramework="net461" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net461" />
</packages>